<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1>
                <span data-i18n="skills.my_skills">Azure Big Data Skills (Over All Score = 85%)</span>
            </h1>
            <style>
                @keyframes shake {
                    0%, 100% { transform: translateX(0); }
                    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
                    20%, 40%, 60%, 80% { transform: translateX(5px); }
                }
                .shaking-text {
                    display: inline-block;
                    animation: shake 20s infinite;
                }
            </style>
            <a href="https://github.com/tonyjacobscloudpro/Data-Engineering/blob/master/Menu/AzureSkillsMenu.html" class="btn btn-primary btn-sm mt-2 shaking-text">
               View Azure Skills Menu
            </a>
        </div>
    </div>    
    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
            <canvas id="{{ site.data.index.skills_azure.id }}" height="500" width="500"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills_azure.id }}");
       var data = {
            labels: "{{ site.data.index.skills_azure.aspects }}".split(","),
            datasets: [{
                label: "{{ site.data.index.skills_azure.label }}",
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "#3385FF",
                pointBackgroundColor: "#3385FF",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#3385FF",
                pointHoverBorderColor: "#3385FF",
                data: [{{ site.data.index.skills_azure.percentage }}]
                }] 
            
        };
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        });
       
        </script>
    </div>   
    
</div>
